* {
    margin: 0;
}
header {
    background-color: #24791c;
    width: 100vw;
    height: 5vh;
}
#logo {
    width: 5.5ex;
    height: 5.5ex;
}
#scanphoto {
    display: block;
    visibility: initial;
    width: 100vw;
    height: 85vh;
    background-color: #eee;
}
#scan {
    display: flex;
    align-content: center;
    width: 140vw;
    position: fixed;
}
#scope {
    margin: 32vh 0 0 28vw;
    display: flex;
    align-content: center;
    position: fixed;
    width: 20vw;
    height: 20vh;
}
#bottombar {
    background-color: #eee;
    width: 100vw;
    height: 10vh;
    margin: 0;
}
.menu {
    list-style: none;
    display: inline-block;
    align-items: center;
    padding: 0;

}
 li {
     display: inline-flex;
     align-items: center;
     height: 10vh;
     width: 32vw;
     margin: auto;
}
#menu1 {
    width: 8ex;
    height: 8ex;
    margin-left: auto;
}
#menu2 {
    margin-right: auto;
    margin-left: auto;
    width: 8ex;
    height: 8ex;
}
#menu3 {
    width: 8ex;
    height: 8ex;
    margin-right: auto;
}
